<div id = 'create_account_page'>
    <h2>How nice of you to join us</h2>
    <br>

    <form method="post" action = "/auth/signup">

        <div class="form-group">
            <label >First Name:</label>
            <input type="text" name="firstName" class="form-control">
        </div>
        <br>
        <div>
            <label>Last Name:</label>
            <input type="text" name="lastName" class="form-control">
        </div>
        <br>
        <div>
            <label>Email Address:</label>
            <input type="email" name="emailAddress" class="form-control">
        </div>
        <br>
        <div>
            <label>Password:</label>
            <input type="password" name="password" class="form-control">
        </div>
        <br>
        <button type="submit" class="btn btn-dark ">Create Account</button>
    
    </form>

</div>