<div id="profile_page">

<div id="profile_image"></div>
<h3><%= locals.currentUser.firstName%></h3>


<button id="post_button"><a href = "/profile/<%=locals.currentUser.id%>/newpost">Post New Item</a></button>




</div>
