@import url("https://fonts.googleapis.com/css2?family=Hubballi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&display=swap");
*:focus {
  outline: none;
  font-family: "Smooch Sans", sans-serif;
}
#static_top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid rgb(189, 189, 189);
  padding: 15px;
}
#bodywrapper {
  width: 95%;
  margin: 0 auto;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 1px solid rgb(189, 189, 189);
}

#homebutton {
  text-decoration: none;
  color: black;
  font-family: "BhuTuka Expanded One", cursive;
}
nav button {
  margin: 5px;
  width: 100%;
  text-align: center;
  background-color: white;
  font-size: 14pt;
  margin: 0;
  padding: 8px;
  border: 0px solid white;
  background-color: rgb(247, 247, 247);
}
nav a {
  text-decoration: none;
  color: black;
  display: block;
  margin: 0px;
}

nav button:hover {
  background-color: black;
  color: white;
}
nav button:hover a {
  color: white;
}

body {
  margin: 0 auto;
  font-family: "Smooch Sans", sans-serif;
  font-size: larger;

  background-color: rgb(247, 247, 247);
}

footer {
  border-top: 1px solid black;
  background-color: rgb(247, 247, 247);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  margin-top: 50px;
}
.socials {
  width: 60%;
  display: flex;
  justify-content: space-around;
}
